{% extends "base/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block css_files %}
{% endblock css_files %}
{% block title %}
    About
{% endblock title %}
{% block content %}
    <section>
        <div class="container" style="text-align: center;margin-bottom: 20px;">
            <div class="row">
                <div class="col-12">
                    <h1>About</h1>
                    <p>
                        This is a simple expense tracker application that allows users to upload their bank statements and categorize their transactions. The application also provides a dashboard that shows the user's monthly budget and expenses.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
