/* Style pagination container */
.pagination {
    margin: 20px 0;
    font-size: 1.1rem;
    list-style-type: none;
    padding: 0;
}

/* Style individual page links */
.page-link {
    padding: 8px 16px;
    background-color: transparent;  /* Remove background */
    color: black;  /* Set text color to black */
    text-decoration: none;  /* Remove underline */
    transition: all 0.3s ease;
}

/* Remove borders around the links */
.page-link, .page-item {
    border: none;
}

/* Hover effect on page links */
.page-link:hover {
    background-color: #007bff;  /* Blue background on hover */
    color: white;  /* White text on hover */
}

/* Style active page link */
.page-item.active .page-link {
    background-color: #007bff;  /* Blue background for active */
    color: white;  /* White text for active page */
}

/* Style for disabled page link (e.g., previous/next on first/last page) */
.page-item.disabled .page-link {
    color: #6c757d;  /* Grey text for disabled links */
    pointer-events: none;  /* Disable click on the link */
}

/* Add a little spacing between page items */
.page-item {
    margin-right: 5px;
}


.table-responsive{
    margin-top: 20px;
}


.transactions-navbar{
    display: flex;
    justify-content: space-between; /* Distribute space between the charts */
    align-items: center; /* Align items at the top */
    width: 100%; 
    flex-wrap: wrap;
}

#transactions-filters{
    display: flex;


    flex-direction: row; /* Stack children vertically */
    align-items: center; /* Align items (text and chart) in the center horizontally */
    justify-content: flex-start; /* Ensure alignment starts from the top */
    width: 60%;
    margin-top: 15px;
    gap: 15px;
    margin-left: 30px;
   

}

#filter-form{
    display: inline-flex;


    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;


    gap: 15px;
}

.filter-item {
    display: flex;
    flex-direction: column;
}

.filter-item label {
    font-size: 16px;
    margin-bottom: 5px;
}

.filter-item select {
    padding: 5px;
    width: 140px; /* Adjust the width of select inputs */
}

.filter-button {

    padding: 5px 15px;
    font-size: 14px;
    margin-top: 0.5rem;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    width: auto; /* Let the button width adjust to the content */
    height: 40px; /* Optional: Set a fixed height */
    text-overflow: ellipsis; /* Truncate text with ellipsis if it overflows */
    overflow: hidden; /* Hide any overflow text */
    display: inline-flex; /* Ensure the button doesn't stretch */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    
}


#transactions-balance{
    width: 35%;
    display: flex;
    flex: 1 1 auto;
    min-width: 200px;
    flex-direction: row; /* Stack children vertically */
    align-items: center; /* Align items (text and chart) in the center horizontally */
    justify-content: flex-end; /* Ensure alignment starts from the top */
    margin-top: 30px;
    margin-right: 30px;
}

#transactions-balance h2 {
    text-align: center;
    padding-left: 1rem;
}

#transactions-filters h2 {
    text-align: center;
    
}